.vscode/**
.vscode-test/**
src/**
scripts/**
out/test/**
out/copilot/**
node_modules/**
package-lock.json
*.vsix
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
